header{
    padding-left:155px;
    padding-right:155px;
  }
   .navbar{
    
    background-color:transparent;        
      height: 100px;
  }
  .navbar-brand img{
    height: 55px;
    width: 150px;
    max-width: 100%;
    margin-top: 20px;

  }
  .navbar-item {
      color: whitesmoke;
      height: 78px;
  }
  .logo{
      color: yellow;
      font-size: 25px;
      margin-right: 25px;
      
     
  }
  .navbar-link{
      color: whitesmoke;

  }
  .navbar-dropdown{
      color: black;

  }

 
  .float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:40px;
	background-color:rgb(26, 25, 25);
  	color:#FFF;
	border-radius:50px;
	text-align:center;
     font-size:10px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
    justify-content: center;
}
.float img{
    margin-top:18px;
    width: 30px;
    height: 20px;
}