html {
    height: 100%;
    margin: 0;
    }
body {
    padding: 0;
    margin: 0;
    background-color: black;
   }
    
   
   a {
     font-style: none;
     color: white;
   }

    
     .container{
       display: flex;
       flex-direction: row;
       height: 100%;
       width: 100%;
       z-index: 999;
       flex-grow: 1;
       
          
   }
   
 
/* //footer */

     
.github{
width: 25px;
height: 25px;
margin-left:10px;
}
.footer{
margin-top: 190px;

}




