* {
  display: grid;
  box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    }
body {
    padding: 0;
    margin: 0;
    background-color: black;
   }
    
   
   a {
     font-style: none;
     color: white;
   }

    
     .container, .card, .card-content, .card-image, .slideshow-container {
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
      /*  flex-direction: row; */
       /* height: 100%; */
       width: 100%;
      
       /* z-index: 999;
       flex-grow: 1; */
       
          
   }
   .card-content{
     background-color: white;
   }
   .comprar{
     width:75%;
   }

   
 
/* //footer */

     
.github{
width: 25px;
height: 25px;
margin-left:10px;
}
.footer{
margin-top: 190px;

}




