* {
 
  box-sizing: border-box;
  
}
html {
    
    margin: 0;
    }
body {
    padding: 0;
    margin: -14px;
    background-color: black;
        
   }
    
   
   a {
     font-style: none;
     color: white;
   }

  
     .container, .card, .card-content, .card-image {
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        width: 70%;  
        align-items: center;
     
     
          
   } 

   .card-content{
     background-color: white;
     border: black;
    padding: 15px;
    width: 100%;
   }

   .content{


   }
   .comprar{
     width:85%;
   }

  



 
/* //footer */

     
.github{
width: 25px;
height: 25px;
margin-left:10px;
}
.footer{
margin-top: 190px;

}









